<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintain Admin</title>
    
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="One page parallax responsive HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Bingo HTML Template v1.0">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    
    <!-- CSS
      ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="plugins/animate/animate.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>

    <!--
      Start Preloader
      ==================================== -->
    <div id="preloader">
        <div class='preloader'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--
      End Preloader
      ==================================== -->
    
    <!--
    Fixed Navigation
    ==================================== -->
    <header class="navigation fixed-top">
        <div class="container">
            <!-- main nav -->
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <!-- logo -->
                <a class="navbar-brand logo" href="/index">
                    <img loading="lazy" class="logo-default" src="/images/logo.png" alt="logo" />
                    <img loading="lazy" class="logo-white" src="/images/logo.png" alt="logo" />
                </a>
                <!-- /logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                Home</i>
                            </a>
                        <li class="nav-item ">
                            <a class="nav-link" href="/adminmaintain">Admins</a> <!-- services.-->
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/volunteermaintain">Volunteers</a> <!-- services.-->
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/eventmaintain">Events</a> <!-- services.-->
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/requestmaintain">Requests</a> <!-- services.-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/faqs" id="navbarDropdown02" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                about <i class="tf-ion-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                                <li><a class="dropdown-item" href="/faqs">FAQs</a></li>
                                <li><a class="dropdown-item" href="/vest">Our Vests</a></li>
                                <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
                            </ul>
                        </li>
    
                    </ul>
                    </li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
    <!--
    End Fixed Navigation
    ==================================== -->

    <label><b>Admin Info:</b></label>
<br>
<table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
    <thead style="background-color: cornflowerblue; color: white;">
        <tr>
            <th style="text-align: left;">First Name</th>
            <th style="text-align: left;">Last Name</th>
            <th style="text-align: left;">Phone</th>
            <th style="text-align: left;">Email</th>
            <th style="text-align: left;">Username</th>
            <th style="text-align: left;">Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody style="font-family: Arial; font-size: 9pt;">
        <% for (let iCount = 0; iCount < admins.length; iCount++) { %>
            <tr>
                <td><%= admins[iCount].first_name %></td>
                <td><%= admins[iCount].last_name %></td>
                <td><%= admins[iCount].phone %></td>
                <td><%= admins[iCount].email %></td>
                <td><%= admins[iCount].username %></td>
                <td><%= admins[iCount].password %></td>
                <td>
                    <!-- Edit admin -->
                    <form action="/adminedit/<%= admins[iCount].id %>" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <!-- Delete admin -->
                    <form action="/admindelete/<%= admins[iCount].id %>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
<br><br>
<!-- Add admin -->
<form action="/adminadd" method="GET">
    <button type="submit">Add Admin</button>
</form>

</body>
</html>