<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Volunteer</title>
    
        <!-- CSS
          ================================================== -->
        <!-- Themefisher Icon font -->
        <link rel="stylesheet" href="plugins/themefisher-font/style.css">
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
        <!-- Lightbox.min css -->
        <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
        <!-- animation css -->
        <link rel="stylesheet" href="plugins/animate/animate.css">
        <!-- Slick Carousel -->
        <link rel="stylesheet" href="plugins/slick/slick.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/style.css">
    
        <!--
              Fixed Navigation
              ==================================== -->
        <header class="navigation fixed-top">
            <div class="container">
                <!-- main nav -->
                <nav class="navbar navbar-expand-lg navbar-light px-0">
                    <!-- logo -->
                    <a class="navbar-brand logo" href="/">
                        <img loading="lazy" class="logo-default" src="images/logo.png" alt="logo" />
                        <img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" />
                    </a>
                    <!-- /logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    Home</i>
                                </a>
                            <li class="nav-item ">
                                <a class="nav-link" href="/adminmaintain">Admins</a> <!-- services.-->
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/volunteermaintain">Volunteers</a> <!-- services.-->
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/requestmaintain">Requests</a> <!-- services.-->
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/eventmaintain">Events</a> <!-- services.-->
                            </li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        <!--
              End Fixed Navigation
              ==================================== -->
    
    </head>
<body>
    <label><b>Volunteer Info:</b></label>
    <br>
    <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
        <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">First Name</th>
                <th style="text-align: left;">Last Name</th>
                <th style="text-align: left;">Email</th>
                <th style="text-align: left;">Referral Source</th>
                <th style="text-align: left;">Sewing Level</th>
                <th style="text-align: left;">Hours per Month</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < volunteers.length; iCount++) { %>
                <tr>
                    <td><%= volunteers[iCount].first_name %></td>
                    <td><%= volunteers[iCount].last_name %></td>
                    <td><%= volunteers[iCount].email %></td>
                    <td><%= volunteers[iCount].referral %></td>
                    <td><%= volunteers[iCount].sewing_level %></td>
                    <td><%= volunteers[iCount].hours %> hours</td>
                    <td>
                        <!-- Edit volunteer -->
                        <form action="/volunteeredit/<%= volunteers[iCount].id %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <!-- Delete volunteer -->
                        <form action="/volunteerdelete/<%= volunteers[iCount].id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br><br>
    <!-- Add volunteer -->
    <form action="/volunteeradd" method="GET">
        <button type="submit">Add Volunteer</button>
    </form>
</body>
</html>